* { 
    margin: 0; 
    font-family: 'Nanum Myeongjo', serif;
    letter-spacing: 3px;
    line-height: 1.5;
}
#main-logo {
    width: calc(100% - 25px);
    max-width: 200px;
    padding-right: 25px;
    padding-top: 10px;
}
.centre {
    display: block;
    margin: auto;
}
#mob-nav {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 95%;
}
#hamburger-bar {
    width: 75px;
    padding-top: 10px;
    right: 10px;
    position: fixed;
}
#hamburger-bar:hover { 
    cursor: pointer;
    }
.show-me { 
    top: 0;
}
.hide-me { 
    top: -110vh;
}
#mob-nav-menu {
    z-index: 2;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.801);
    position: fixed;
    transition: 0.5s;
}
.mobile-nav-btn {
    width: 100%;
    font-size: 2em;
    margin: 5px 0;
    color: white;
    background-color: black;
    border: none;

}
.mobile-nav-btn:hover {cursor: pointer;}
.mobile-nav-btn:active {
    transform: translateY(2px);
    background-color: rgb(179, 179, 179);
}
.mobile-close-btn {
    font-size: 2em;
    float: right;
    margin: 10px;
    padding: 0 10px;
    border: none;
    color: white;
    background-color: black;
}
.mobile-close-btn:hover {cursor: pointer;}
#deskt-nav {display: none;}
#main-video {
    width: 100%; 
    height: 300px;
    border: none;
}
.video {
    border: none;
    width: 100%;
    max-width: 721px;
    height: 60vh;
    max-height: 444px;
    padding: 50px 0;
}
.social-pipe {
    width: 50px;
    height: 50px;
    object-fit: cover;
    display: inline-block;
}
.social-pipe:hover {
    cursor: pointer;
}

.centre-txt {text-align: center;}
.main-txt {
    margin-top: 200px;
    margin-bottom: 200px;
}
.main-txt > h3, .img-cluster > h3 { font-size: 3em;}
.img-cluster > hr { 
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
}
.gallery-img {
    width: 80%;
    max-width: 700px;
    object-fit: cover;
    /* max-height: 200px; */
}
.tall-boi {
    max-height: 400px !important;
}
.email-txt { letter-spacing: 2px;}

#modal-container {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.534);
    z-index: 2;
    position: fixed;
    top:0;
    left: 0;
    overflow: auto;
    display: none;
}
#modal-img {
    max-width: 100vw;
    height: 100%;
    display: block;
    margin: auto;
    background-position: center center;
    object-fit: cover;
}
#unembiggen-btn {
    right: 0;
    font-size: 4em;
    margin: 0;
    padding: 0 20px;
    position: fixed;
    background-color: transparent;
    border: none;
}
#unembiggen-btn:hover{cursor: pointer;}

.contact > img {
    max-width: 100%;
}
.video-description {
    padding: 20px;
    max-width: 721px;
    margin: auto;
    display: block;
    font-size: 0.75em;
    letter-spacing: 2px;
    line-height: 2em;
}
.video-title { text-align: center; }

#page-content-index { 
    height: 100vh;
    top: 0;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding: none;
    background-image: url(/imgs/home-thumbnail.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: inline-block;
    width: 100%;
 }
 #index-menu {
     padding-top: 100vh;
 }
 #index-menu > h4 {
    background-color: white;
    text-align: center;
    padding: 200px 0;
 }
.blck-bckgd { 
    color: white;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.897);
    text-decoration: none;
    line-height: 70px;
    padding: 10px;
}
.embggn { font-size: 2.5em; }
#grass-boi { 
    display: inline-block;
    background-image: url(/imgs/grass-boi.png);
    background-size: cover;
    width: 100%;
}
#testimonials-link { 
    text-align: center; 
    width: 100%;
    padding: 0;
    display: inline-block;
    margin-top: 400px;
    margin-bottom: 400px;
    overflow: hidden;
}
footer {
    padding-top: 25px;
    text-align: center;
    padding-bottom: 35px;
    display: inline-block;
    width: 100%;
}

/* arbitrary decision to switch between mobile and desktop at 650px but whatever */
@media only screen and (min-width: 650px) {
    
    #hamburger-bar {
        display: none;
    }
    #mob-nav { display: none; }
    #deskt-nav {display: block;}
    header {
        display: grid;
        grid-template-columns: 300px 1fr;
        grid-template-rows: 400px 1fr;
    }
    #main-logo { 
        padding-right: 0;
        padding-top: 10px;
        grid-column: 1;
        /* width: calc(100% - 100px); */
        width: 250px;
    }
    #main-logo:hover { cursor: pointer;}
    #deskt-nav {
        grid-column: 1;
        grid-row: 2;
        top: 460px;
        z-index: 0;
        /* background-color: aqua; */
        padding-top: 20px;
        width: 100%;
        font-size: 0.85em;
        /* height: calc(100vh - 400px); */
    }
    #deskt-nav > ul > li { list-style-type: none; }
    
    #deskt-nav > ul > li > a {
        text-decoration: none;
        color: rgb(133, 133, 133);
        line-height: 35px;
    }
    #deskt-nav > ul > li > a:hover { color: black; }
    #main-video {
        grid-column: 2;
        grid-row: 1 / 2;
        height: calc(100vh - 50px);
        width: 100%;
        border: none;
    }
    .video { 
        padding: 25px 0;
        width: 100%;
        margin: auto;
    }
    #nav-content {
        width: 300px;
        height: 100vh;
        top:0;
        margin-top:20px;
        position: fixed;
        z-index: 1;
    }
    .menu-footer {
        font-size: 0.75em;
        margin-left: 40px;
        /* position: fixed; */
        padding-top: 50px;
        color:rgb(68, 68, 68)
    }
    #page-content-index {
        width: calc(100% - 300px);
        margin-left: 300px;
    }
    #page-content {
        width: calc(100vw - 320px);
        margin-left: 300px;
        margin-bottom: 250px;
        margin-top: 50px;
    }
    .img-cluster {
        margin-top: 50px;
    }
    .gallery-img {
        padding: 10px;
        overflow: hidden;
    }
    .gallery-img:hover { 
        cursor: pointer;
    }
    #modal-container {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.534);
        z-index: 2;
        position: fixed;
        top:0;
        left: 0;
        overflow: auto;
        display: none;
    }
    #modal-img {
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin: auto;
    }
    #unembiggen-btn {
        right: 0;
        font-size: 4em;
        margin: 25px;
        padding: 0 50px;
        position: fixed;
        background-color: transparent;
        border: none;
    }
    #unembiggen-btn:hover{cursor: pointer;}
    .contact-container {
        display: inline-block;
        padding-top: 0px !important;
        margin-top: 0 !important;
        padding-bottom: 50px;
        height: calc(100vh - 150px);
    }
    .contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    footer {
        width: calc(100vw - 320px);
        margin-left: 300px;
        display: inline-block;
    }
    .social-pipe {
        margin: auto 20px;
    }
    #page-content-index {
        background-position: 300px;
    }
    
}

@media only screen and (max-width: 1000px) {
    .main-txt {
        margin-top: 0;
        margin-bottom: 0;
    }
    .contact-container {
        padding-top: 0px !important;
        margin-top: 0 !important;
    }
    .contact {
        height: 100vh;
        grid-template-columns: 1fr;
        background-image: url(/imgs/contact-thirsty.jpeg);
        background-size: cover;
        background-position: center;
    }
    .contact > img {
        display: none;
    }
 
    .contact > div > p {
        position: relative;
        /* width: 100%; */
        color: white;
        background-color: rgba(0, 0, 0, 0.795);
    }
    #p1 { top: 30px; }
    #p2 { top: 60px; }
    #p3 { top: 90px;}
}