body {
    background-color: rgb(48, 58, 61);
}
header {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5438550420168067) 55%, rgba(0,0,0,0) 100%);
    color: white;
}
#show-reel-container {
    padding-top: 125px;
    width: 100%;
    max-width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: auto;
}

#show-reel-container > img {
    max-width: 100%;
}