<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/imgs/straypath-icon.jpg">
    <title>Stray Path</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <script src='/js/mob-menu-toggle.js'></script>
    <script src='/js/socials.js'></script>
</head>

<!-- 
    
    Website by Anton! ===> https://github.com/AntonHuggard

                  (O)>  
                 -||-
                  LL

            REGINALD WAS HERE

-->

<body>
        <div id='mob-nav'>
            <img id='hamburger-bar' src='/imgs/menu.png' onclick='fn()'>
            <div id='mob-nav-menu' class='hide-me'>
                <button class='mobile-close-btn' onclick='undo()'>&times;</button>
                <button class='mobile-nav-btn' onclick="redir('/presenting/')">presenting</button>
                <button class='mobile-nav-btn' onclick="redir('/corporate/')">corporate</button>
                <button class='mobile-nav-btn' onclick="redir('/non-fiction/')">non-fiction</button>
                <button class='mobile-nav-btn' onclick="redir('/fiction/')">fiction</button>
                <button class='mobile-nav-btn' onclick="redir('/music-videos/')">music videos</button>
                <button class='mobile-nav-btn' onclick="redir('/stills/')">stills</button>
                <button class='mobile-nav-btn' onclick="redir('/contact/')">contact</button>
            </div>
        </div>
        <div id='nav-content'>
            <img 
                src='/imgs/new-Logo.png' 
                id='main-logo' 
                class='centre' 
                onclick="redir('/')"
                alt='home'
                >
        
            <div id='deskt-nav'>
                <ul>
                    <li><a href='/presenting/'>presenting</a></li>
                    <li><a href='/corporate'>corporate</a></li>
                    <li><a href='/non-fiction/'>non-fiction</a></li>
                    <li><a href='/fiction/'>fiction</a></li>
                    <li><a href='/music-videos/'>music videos</a></li>
                    <li><a href='/stills/'>stills</a></li>
                    <li><a href='/contact/'>contact</a></li>
                </ul>
                <p class='menu-footer'>
                    video production<br>
                    Auckland<br><br>
                    &copy Stray Path 2022
                </p>
            </div>
        </div>

        {{ content }}

        <footer>
            <img class='social-pipe' onclick='goto("https://connorcurlewis.medium.com/")' src='/imgs/social-pipes/medium.png'>
            <img class='social-pipe' onclick='goto("https://www.linkedin.com/in/connorcurlewis/")' src='/imgs/social-pipes/linkedin-black.png'>
            <img class='social-pipe' onclick='goto("https://www.instagram.com/connor__curlewis/")' src='/imgs/social-pipes/insta-black.jpg'>
            <img class='social-pipe' onclick='goto("https://www.youtube.com/channel/UCYvgW9DBqvTi6V2oT0iF2CQ")' src='/imgs/social-pipes/youtube-black.png'>
        </footer>

</body>
</html>